<header>
    <ul class="nav">
        <li>
            <a href="/autores/new">Autores</a>
        </li>
        <li>
            <a href="/post/new">Nuevo Post</a>
        </li>
        <li>
            <a href="/categoria/new">Categorias</a>
        </li>
    </ul>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav {
        display: flex;
        list-style: none;
        gap: 20px;
    }
</style>