<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
</head>
<body>
    {% extends 'myapp/header.html'%}

    {% block title %}Nuevo Autor{% endblock %}

    {% block content %}
    <h1>LISTA DE POST CREADOS</h1>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }}: {{ post.content }}</li>
        {% endfor %}
    </ul>
    <a class="btn" href="{% url 'post_new' %}">Agregar nuevo post</a>
    {% endblock %}
</body>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn {
        border: 1px;
        border-radius: 10px;
        background-color: #555;
        color: #fff;
        padding: 10px;
    }
</style>
</html>

